.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  position: relative; /* позиционирование page__header для абсолютного позициогирования дочерних элементов*/
  background-color: var(--light-gray);
  overflow: hidden; /* Чтобы при малой высоте браузера синий квадрат не вылезал снизу блока header.*/
}
