:root {
  --dark-gray: #1f1f1f;
  --light-gray: #f2f2f2;
  --blue: #2f80ed;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* и элемента с модификатором вида ключ-значение */
/* .table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
}

.page__header {
  position: relative; /* позиционирование page__header для абсолютного позициогирования дочерних элементов*/
}

.logo {
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  margin: 0; /*сбросила отступы браузера*/
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
}

.header__subtitle {
  margin: 0; /*сбросила отступы браузера*/
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  z-index: 1;
}

.header__link {
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--blue);
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content {
}

.content__section {
  margin: auto; /* ??? отцентрировала все секции */
  margin-top: 100px; /* установила отступы между секциями */
}

.content__section:last-child {
  margin: 90px auto; /* установила отступы для последней секции, отличные от остальных */
}

.description {
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.two-columns__brief {
  width: 175px;
  color: var(--blue);
  margin: 0; /*сбросила отступы браузера*/
  line-height: 1.2;
  font-size: 18px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0 0 30px; /*сбросила отступы браузера, установила отступ снизу 30px*/
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0; /*сбросила отступы для последнего параграфа в блоке*/
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
}

.section-title {
  width: 60%;
  margin: 0 auto; /*сбросила отступы браузера и выраняла по центру*/
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto; /*сбросила отступы браузера и выраняла по центру*/
  text-align: center;
  line-height: 34px;
  font-size: 24px;
}

.digits__section-subtitle {
  margin-top: 20px;
}

.table {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0; /*сбросила отступы браузера*/
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0; /*сбросила отступы браузера*/
  line-height: 1.2;
  font-size: 18px;
}

.table__span-breaker {
  display: block;
  margin-top: 20px;
}

.footer {
}

.page__footer {
  margin: 60px auto 40px;
}
