.khan__buy-link {
  align-self: flex-start;
  text-decoration: none;
  color: var(--blue);
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  /* ниже свойства, чтобы ссылки при наведении мыши плавно становились немного прозрачными */
  opacity: 1; /*без указания opacity: 1 тоже работает*/
  transition: opacity 0.7s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
/* --- */
